# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

*.zip
*.tar*

# DUB
.dub
docs.json
__dummy.html
docs/
*.selections.json
build/
build
web/
sokol-d

# Code coverage
*.lst

# hidden folder
.*/

# vendor
vendor/
