name: CI Build

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: korandoru/setup-zig@v1
        with:
          zig-version: master
      - uses: dlang-community/setup-dlang@v1
        with:
          compiler: ldc-master
      
      - name: prepare-linux
        if: runner.os == 'Linux'
        run: |
            sudo apt-get update
            sudo apt-get install libglu1-mesa-dev mesa-common-dev xorg-dev libasound-dev

      - name: (Dub) Build Native
        if: runner.os != 'Windows'
        run: |
            dub build :clear
            dub build :sgl_context
            dub build :sgl_points
            dub build :debugtext_print
            # dub build :cube
            # dub build :blend
            dub build :triangle
            # dub build :mrt
            dub build :user_data

      - name: (Zig) Running Test
        if: runner.os != 'Windows'
        run: zig build test -DzigCC
      - name: (Zig) Build Native
        run: zig build -DzigCC --summary all
      - name: (Zig + emsdk) Build Wasm
        run: zig build -DzigCC --summary all -Dtarget=wasm32-emscripten -Doptimize=ReleaseSmall
